[submodule "external/level-zero"]
	path = external/level-zero
	url = https://github.com/oneapi-src/level-zero
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/Iemand005/wxWidgets
